@import "~bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

/***
=======================
    VARIABLES
=======================
***/

$primary: 'Poppins', sans-serif;
$body: 'Open Sans', sans-serif;

$heavy: 700;

$background: #FAF7F7;
$black: #212121;
$rose: #E33A32;

$smooth: 350ms ease-in-out all;


::selection {
    background: rgba($rose, 0.33);
}
html, body {
    overflow-x: hidden;
    background: $background;
    font-family: $body;
    font-size: 0.9rem;   
    scroll-behavior: smooth;
}
h1 {
    font-family: $primary;
    font-weight: $heavy;
    font-size: 4rem;
    color: $black;
    line-height: 4rem;
}
h2 {
    font-family: $primary;
    font-size: 1.8rem;
    margin-bottom: 10px
}
p{ 
    font-family: $primary;
    font-size: 1.05rem;
    margin-bottom: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    width:100vw;
    height: 50px;
    background: $background;
    z-index: 9;
}
.lrg {
    // min-width: 250px;
    // min-height: 100px;
    transform: scale(3);
}
.adjust-slider {
    position: relative;
    margin-top: -200px;
    margin-bottom: 50px;
}
#layer0 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 0;
    background: $background;
    img.grid {
        min-width: 500px;
        min-height: 500px;
        max-width: 500px;
        max-height: 500px;
        position: relative;
        top: 200px;
        left: 60%;
        background: url('../images/grid.png');
        background-size: contain;
    }
    .adjust {
        position: relative;
        top: -350px;
    }
    .adjust-down {
        position: relative;
        top: 300px;
    }
    .adjust-left {
        position: relative;
        left: 50px;
    }
    .border-0 {
        border: 2px solid $rose;
    }
}
.logo {
    max-width: 250px;
}
.social-media {
    display: flex;
    justify-content: flex-end;
    svg {
        margin: 0 15px;
        transition: $smooth;
        &:hover, &:active {
            
            fill: $red;
            transition: $smooth;
        }
    }
}
.border {
    border: 2px solid $black;
}
.mx-auto {
    margin: 0 auto;
}
.super-block {
    height: 80px;
}

.footer-nav {
    color: $black;
    padding-left: 5px;
    .underline{
        position: absolute;
        top: 33px;
        width: 0px;
        margin-left: -85px;
        background: $rose;
        height: 3px;
        z-index: 9;
        transition: $smooth;
        transform-origin: left center;
    }
    &:hover {
        color: $black;
        .underline {
            width: 90px;
            transition: $smooth;
        }
    }
}

a.navbar-item {
    .underline{
        position: absolute;
        left: 0;
        top: 30px;
        width: 0px;
        background: $rose;
        height: 3px;
        z-index: 9;
        transition: $smooth;
        transform-origin: left center;
    }
    &:hover {
        color: $black !important;
        .underline {
            width: 100%;
            transition: $smooth;
        }
    }
}

// Buttons
button.dtf-btn {
    border: 2px solid $red;
    background: transparent;
    font-family: $primary;
    border-radius: 5px;
    padding: 5px 20px;
    color: $rose;
    transition: $smooth;
    span {
        color: inherit;
    }
    &:hover, &:focus {
        background: $rose;
        color: $background;
        cursor: pointer;
        transition: $smooth;
    }
}

/* Bulma Edits */
.navbar {
    background: inherit;
    padding-top: 20px;
    .navbar-item {
        display: flex;
        flex-direction: column;
        width: max-content;
        font-weight: $heavy;   
        font-family: Poppins;
        font-size: 1rem;
        margin: 0 10px;
        &:visited {
            color: $black;
        }
    }
    .navbar-brand {
        margin-right: 20px;
    }
}

.footer {
    padding: 10px 0 0 0;
    background: $background;
}
.touch { display: none; }

._dropShadow {
    -webkit-box-shadow: 0px 5px 8px 0px rgba(33,33,33,0.15);
    -moz-box-shadow: 0px 5px 8px 0px rgba(33,33,33,0.15);
    box-shadow: 0px 5px 8px 0px rgba(33,33,33,0.15);
}

// Swiper 
.swiper-slide {
    display: flex; 
    justify-content: center;
}

// Responsiveness
@media only screen and (max-width: 1024px) {
    .desktop {
        display: none;
    }
    .touch {
        display: block;
    }
    .header {
        position: fixed;
        top: 0;
        width: 100vw;
        background: $background;

        margin: 0;
        padding: 20px 0 10px 0;
        z-index: 9;
    }
    h1 {
        margin-top: 20px;
        font-size:3rem;
        line-height: 3rem;
    }
    #layer0 {
        width: 100vw;
        overflow-x: hidden;
        padding-bottom: 100px;
        img.grid {
            top: 120px;
            max-width: 300px;
            max-height: 300px;
            min-width: 300px;
            min-height: 300px;
            object-fit: cover;
        }
        .is-large {
            height: 350px;
            width: 100%;
        }
        .adjust {
            justify-content: flex-start;
            left: 50px;
            top: 200px;
            width: 100%;
        }
        
        .adjust-down {
            justify-content: flex-start;
            width: 100%;
            margin-left: -60px;
        }
        .adjust-right {
            justify-content: flex-end;
            top: 300px;
            width: 100%;
            margin-left: 50px;
        }
    }
    .lofm.gatsby-image-wrapper {
        max-width: 150px;
    }
    .centered {
        justify-content: center;
        h1 {
            margin-top: 60px;
        }
        video {
            max-width: 400px;
        }
    }
    .super-block {
        width: 100%;
        height: 120px;
    }
    .adjust-slider {
        position: relative;
        margin-top: 30px;
    }
    .container {
        max-width: 80vw;
        margin: 0 auto;
    }
    
    .footer {
        position: relative;
        background: $black;
        color: $background;
        height: max-content;
        padding: 20px 0;
        svg {
            fill: $background;
        }
        .footer-nav {
            color:$background;
            font-weight: $heavy;

        }
        .underline {
            width: 90px;
            margin-top: 5px;
            padding-top: 5px;
        }
        .column {
            padding: 20px 0;
        }
        .social-media {
            justify-content: space-evenly;
            width: 100%;
            a {
                display: flex;
                justify-content: center;
                width: 100%;
                font-size: 1.5rem;
            }
        }
    }
    @supports (-webkit-touch-callout: none) {
        /* CSS specific to iOS devices */ 
        .lrg { 
            max-width: 30px;
            min-width: 30px;
        }
      }
}
